.title {
  font-weight: var(--fw-medium);
  line-height: 1;
  color: hsl(var(--color-black));
  opacity: 0;
}
.title span:not([class]) {
  opacity: 0.5;
}
.title .splitLine {
  overflow: hidden;
  margin: -1.2rem 0;
  padding: 1.2rem 0;
}

h1.title, h2.title {
  font-size: var(--fs-xl);
}

h3.title, h4.title, h5.title {
  font-size: var(--fs-lg);
}

h6.title {
  font-size: var(--fs-md);
}

.white {
  color: hsl(var(--color-white));
}

.black {
  color: hsl(var(--color-black));
}